a {
    margin: 25px;
}
.list{
    list-style-type: none;
}
#footer {
    padding: 1% 5%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #072541;
    width: 100%;
 }
 
 .social-icon {
    margin: 20px 10px;
    color: #7743DB;
 }
 
 .social-icon:hover {
    color: #FFBA86;
 }
 .copyright {
    color: #ffff
 }

 input {
    font-size: 40px;
 }
 .formm{
    margin-left: 35px;
 }