* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   max-width: 500px;
   text-align: center;
   background: #081b29;
   justify-content: center;
   display: flex;
   
}

.home {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100vh;
   width: 100%;
}

h1 {
   font-size: 45px;
   color: #515151;
   margin: 30px 0;
}

form {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
   margin-left: 440px;
   margin-right: 440px;
   height: 200px;
   width: 90%;
   border-radius: 50px;
   background: linear-gradient(145deg, #adc1c9, #cde5ef);
   box-shadow: 20px 20px 60px #a3b5be, -20px -20px 60px #ddf6ff;
}

input[type="text"] {
   border: none;
   border-bottom: 2px solid #ddd;
   background-color: #fff;
   outline: none;
   font-size: 18px;
   padding: 10px;
   width: 60%;
   border-radius: 10px;
}

button[type="submit"] {
   border: none;
   outline: none;
   font-size: 18px;
   padding: 10px 20px;
   background-color: #727072;
   color: #fff;
   cursor: pointer;
   border-radius: 10px;
   transition: .2s;
}

button[type="submit"]:hover {
   background-color: #fff;
   color: #000;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
   width: 80%;
   
}

li {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
   padding: 5px;
   height: 50px;
   width: 100%;
   border-radius: 10px;
   background-color: #fff;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
   margin-left: 440px;
   margin-right: 440px;
}

li input[type="checkbox"] {
   margin-right: 10px;
}

p {
   font-size: 18px;
   margin: 0;
   position: relative;
   padding-bottom: 150px;
}

.btn {
   border: none;
   outline: none;
   font-size: 18px;
   background-color: transparent;
   cursor: pointer;
   transition: .3s;
   padding-left: 10px;
}

.group-button {
   display: flex;
   gap: 20px; 
   margin-left: auto;
}


