
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/css/logs.css">
    <link rel="stylesheet" href="c1-icon/css/all.min.css">
</head>
<body>
    <div class="wrapper">
        <form method="post" action="" class="form">
            <h1 class="login">Login</h1>
            <div class="fill">
                <input type="text" name="username" id="" class="input" placeholder="username">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="fill">
                <input type="password" name="password" id="" class="input" placeholder="password">
                <i class="fa-solid fa-lock"></i>
            </div>
            <input type="submit" class="submit" value="Login">
            <p class="footer">Not a user? <a href="{{ url_for('register') }}" class="link">Register</a></p>
        </form>
        <div class="banner">
            <h1 class="text">On.Time<br/></h1>
            <p class="paragraph">Login to plan your day <br/> :) <br/>login</p>
        </div>
    </div>
</body>
</html>