<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="c1-icon/css/all.min.css">
</head>
<body>
    <div class="wrapper">
        <form method="post" action="" class="form">
            <h1 class="login">Register</h1>
            <div class="fill">
                <input type="text" class="input" name="username" required placeholder="Username">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="fill">
                <input type="text" class="input" name="first_name" required placeholder="First Name">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="fill">
            <input type="text" class="input" name="second_name" required placeholder="Second Name">
            <i class="fa-solid fa-user"></i>
            </div>
            <div class="fill">
            <input type="tel" class="input" name="phone_no" required placeholder="Phone number">
            <i class="fa-solid fa-user"></i>
            </div>
            <div class="fill">
            <input type="email" class="input" name="email" required placeholder="email">
            <i class="fa-solid fa-user"></i>
            </div>
            <div class="fill">
            <input type="password" class="input" name="password" required placeholder="Password">
            <i class="fa-solid fa-user"></i>
            </div>
            <div class="fill">
            <input type="password" class="input" name="confirm_password" required placeholder="Confirm Password">
            <i class="fa-solid fa-user"></i>
            </div>
            <input type="submit" class="submit" value="Register">
            <p class="footer">Already a user? <a href="{{ url_for('login') }}" class="link">Login</a></p>
    </form>
    <div class="banner">
        <h1 class="text">On.Time<br/></h1>
        <p class="paragraph">Hey, Thank you for Joining US <br/> :) <br/>Register</p>
    </div>

</div>
</body>
</html>
